body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  box-sizing: border-box;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  font-size:xx-large;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: border-color 0.3s ease;
}

input[type="text"]:hover,
input[type="password"]:hover {
  border-color: #007bff;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.uerror {
  display: none;
  background-color: #f2dede;
  color:  #a94442;
  padding: 1px 10px;
  border-radius: 5px;
  margin: 20px;
      }
.fa-solid,.fas{
  position:relative;
  transform:translate(320px,-36px);;
}
input[type = 'text'],input[type = 'password']{
  width:90%;
}