.success{
    background-color:#dff0d8;
color:#3c763d;padding:10px;border-radius:5px;margin-top:20px;}
.error{
    background-color:#f2dede;color:#a94442;padding:10px;
    border-radius:5px;margin-top:20px;}
