body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.container {
  box-sizing: border-box;
  max-width: 400px;
  margin: 0px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
  text-align: center;
  font-size:xx-large;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select,
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: border-color 0.3s ease;
  left:100px;
}

input[type="text"]:hover,
input[type="email"]:hover,
select:hover,
input[type="password"]:hover {
  border-color: #007bff;
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

input[type="button"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="button"]:hover {
  background-color: #0056b3;
}
input[type = 'text'],input[type = 'email'],input[type = 'password']{
  margin:5px;
  width:78%;
  margin-left:8%;
}
/* .uerror {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;}  */
.uerror {
  display: none;
  background-color: #f2dede;
  color:  #a94442;
  padding: 1px 10px;
  border-radius: 5px;
  margin: 20px;
}
.department{
  width:300px;
  margin:1em auto;
  position: relative;
  cursor: pointer;  
}
.department input[type="radio"]{
  position:absolute;
  left:-9999px;
}
      
.department-title {
  width: 100%;
  display: block;
  background: #D8D8D8;
  text-align: center;
  padding: 0.55em 1em;
  box-sizing: border-box;
  color: #FFF;
  text-shadow: 0 1px 0 #CACACA;
  border-radius: 0.2em;
}
.department:hover .department-title {
  border-radius:0.2em 0.2em 0 0;
}
.department-objects label:nth-last-of-type(1) span{
    border-radius:0 0 0.2em 0.2em;
}
.department input[type="radio"] + span {
      color: black;
      background: #D8D8D8;
      padding: 0.55em 1em;
      display: block;
      text-align: center;
      box-sizing: border-box;
      cursor: pointer;
      width: 100%;
      }
.department-objects {
      position: absolute;
      top: 0;
      padding-top: 2.1em;
      box-sizing: border-box;
      width: 100%;
      overflow: hidden;
      max-height: 0;
      transition: all 500ms ease;
}
.department:hover .department-objects  input[type="radio"] + span {
      position: relative;
      top: 0;
      transition: all 500ms ease-in-out;
  }
.department:hover input[type="radio"] + span:hover {
      background:#BBB;
  }
  .department:hover input[type="radio"]:checked + span:hover {
      background:dodgerblue;
 }
.department input[type="radio"]:checked + span {
      background:dodgerblue;
      position: absolute;
      top: 0em;
      border-radius: 0.2em;
  }
  .department:hover input[type="radio"]:checked + span {
      border-radius: 0;
  }
.department:hover .department-objects label:nth-last-of-type(1) input[type="radio"]:checked + span{
        border-radius:0 0 0.2em 0.2em;
  }
      
.department:hover .department-objects {
      max-height: 540px;
}
.submit{
  margin-left:135px;
}